<section class="section about" id='about'>
    <div class="container">
        <h2 class="section-title" data-aos="fade-up">
            <span class='n-section-title'>01.</span> About Me
        </h2>
        <p data-aos="fade-up" data-aos-duration="1000">
            I am a passionate Software Developer with experience in  .NET Core MVC,.NET Core WebApi ,Angular, and API Development.
            I have specialize in building modern web applications that are efficient, scalable, and visually appealing.
        </p>
        <h3 data-aos="fade-up" data-aos-duration="1000">Skills</h3>
        <ul class="skills-list" data-aos="fade-up">
            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">ASP.NET Core MVC, >NET Core WebApi, SQL Server</span></li>
            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">SQL ,AJAX, JQuery</span></li>
            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular, TypeScript, JavaScript</span></li>
            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Bootstrap,Telerik UI,Visual Studio</span></li>
            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Git, Azure, Agile Development</span></li>
        </ul>
        <div class="about-img-container text-center" data-aos="fade-up" data-aos-duration="1000">
            <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' class="rounded" width="400" height="300" src="assets/images/sahilModi.jpg" alt="Software Developer">
        </div>
    </div>
</section>
