<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">
          05. Get in Touch
        </h3>
        <h4 class="e-font contact-title big-title">
          Contact Me
        </h4>
      </div>

      <p data-aos="fade-up" data-aos-duration="1000">
        Feel free to reach out via email, phone, or LinkedIn. I’d love to connect and discuss new opportunities!
      </p>

      <div class="mt-4 contact-info">
        <p>
          Email: <a href="mailto:sahmodi552&#64;gmail.com">sahmodi552&#64;gmail.com</a>
        </p>
        
        <p data-aos="fade-up" data-aos-duration="1000">
          Phone: <a href="tel:+9313316706">+9313316706</a>
        </p>
        <p data-aos="fade-up" data-aos-duration="1000">
          LinkedIn: 
          <a href="https://linkedin.com/in/modi-sahil-35164a1b5" target="_blank">
            linkedin.com/in/modi-sahil-35164a1b5
          </a>
        </p>
      </div>

      <div class="mt-5">
        <a
          (click)="analyticsService.sendAnalyticEvent('click_send_mail', 'contact', 'email')"
          href="mailto:sahmodi552@gmail.com"
          target="_blank"
          class="main-btn"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          Send Email
        </a>
      </div>
    </div>
  </div>
</section>
