<section class="section projects" id="projects">
    <div class="container">
        <div class="section-box">
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class="n-section-title">03.</span> Projects
                </h3>
            </div>

            <div class="d-flex project-container" data-aos="fade-up" data-aos-duration="1000">
                <div class="img-feature-project-container" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img-feature-project-box">
                        <div class="img-container" style="width: auto;">
                            <img class="img-feature-project rounded" src="assets/images/MallManagment.png" alt="Mall Management System" width="600px">
                        </div>
                    </div>
                </div>

                <div class="project-info-right">
                    <div class="project-box">
                        <h4 class="feature-project">Featured Project</h4>
                        <h5 class="project-name">Mall Management System</h5>

                        <div class="project-description-box">
                            <p class="mb-0">
                                Developed Role-Based Access Control using JWT Authentication to secure Admin and Store Owner 
                                operations in a Mall Management System.
                            </p>
                            <p class="mb-0">
                                Built Admin and Store Dashboards to manage contracts, users, invoices, stores, products, sales, and 
                                notifications, enhancing operational efficiency.
                            </p>
                            <p class="mb-0">
                                Implemented Data Access Layers with Entity Framework for seamless integration and ADO.NET 
                                with stored procedures for performance optimization.
                            </p>
                            <p class="mb-0">
                                Designed and Developed Frontend using Razor Views, jQuery, and Kendo for listing.
                            </p>
                            <p class="mb-0">
                                Optimized Security and Scalability by integrating role-based security mechanisms and leveraging SQL 
                                Server for robust data management.
                            </p>
                        </div>

                        <ul class="project-skills">
                            <li><span class="underline technology">Angular</span></li>
                            <li><span class="underline technology">ASP.NET Core</span></li>
                            <li><span class="underline technology">Entity Framework</span></li>
                            <li><span class="underline technology">ADO.NET</span></li>
                            <li><span class="underline technology">SQL Server</span></li>
                            <li><span class="underline technology">JWT Authentication</span></li>
                            <li><span class="underline technology">Razor Views</span></li>
                            <li><span class="underline technology">jQuery</span></li>
                            <li><span class="underline technology">Kendo UI</span></li>
                        </ul>

                        <div class="project-links">
                            <a href="http://mms.alliancetek.net/" target="_blank" style="color: inherit">
                                <i class="ml-3 fas fa-external-link-alt"></i> Live Demo
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
